<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
</head>
<body>
    <header>
        <h1>Drug Interaction Database</h1>
        <p> Enter patient name below: </p>
    </header>

    <h1>Patient Search</h1>
    <form id="searchForm">
        <label for="patientName">Patient Name:</label>
        <input type="text" id="patientName" name="patientName">
        <button type="submit">Search</button>
    </form>
</body>
</html>